<h1>ExpenseItems#show</h1>
<p>Find me in app/views/expense_items/show.html.erb</p>
    
<div class="d-flex spc-btw m-100 f-end p-1 wrap bg">
    <h2><%= @expense_item.name %></h2>
    <h2><%= @expense_item.amount %></h2>
</div>
