<h2>Update category</h2>
<div class="d-flex spc-btw m-100 f-end p-1 wrap bg">

<h2 class="d-flex center">Update <%= @category.name %> Category </h2>
<%= render partial: "form", locals: {category: @category} %>
    
</div>
   