<h1>Categories#new</h1>
<p>Find me in app/views/categories/new.html.erb</p>
<div>
  <h2 class="d-flex center">Add a Category</h2>
  <div class="middle m-50 p-2 wrap">
    <%= render partial: "form", locals: {category: @category} %>
  </div>
</div>